# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class


# Distribution
build/
dist/
*.egg-info/

# Environments
.venv/
.env

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Training outputs
checkpoints_shac/
*.pkl
*.gif
*.png
*.npz

# Jupyter
.ipynb_checkpoints/
